{% from "icons/macros.html" import icon %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Filmography</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='img/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='meta/manifest.json') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "icons/all.html" %}
    <div id="app">
      {% if not is_home %}
        <div id="header">
          <nav id="menu">
            <ul>
              <li>Search by : </li>
              <li id="person" class="{{ 'active' if resource_type == 'person' }}">
                <a id="person" href="{{ url_for('person.search')}}">{{ icon('person') }}Person name</a>
              </li>
              <li id="movie" class="{{ 'active' if resource_type == 'movie' }}">
                <a id="movie" href="{{ url_for('movie.search')}}">{{ icon('movie') }}Movie name</a>
              </li>
              <li id="tv" class="{{ 'active' if resource_type == 'tv' }}">
                <a id="tv" href="{{ url_for('tv.search')}}">{{ icon('tv') }}TV show name</a>
              </li>
            </ul>
          </nav>
        </div>
      {% endif %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        <div class="gotop" onclick="goTop()">{{ icon('top') }}</div>
        {% block footer %}{% endblock %}
        <span class="powered" id="filmography">
          Powered by
          <a href="https://gitlab.com/Lunik">Filmography</a>
        </span>
        <span class="powered" id="flaticon">
          UIcons by
          <a href="https://www.flaticon.com/uicons">Flaticon</a>
        </span>
        <!-- Made by <a href="https://lunik.tiwabbit.fr" id="copyright">Lunik</a>-->
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>